<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE: we are using sed on the server to do string replacements, 
           I'm sure it's possible but had trouble when replacing values 
           on more than one line, so.....
            1) Either get the build script for app center to work reliably
            2) Keep the XML formatted with fields on individual lines-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.software_logistics.nuviot.iot_simulator" android:versionCode="1" android:versionName="0.8">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="IoT Simulator" android:icon="@mipmap/icon"></application>
</manifest>